.page-container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.portrait {
  width: 250px;
  height: auto;
}


@media screen and (max-width: 992px) {
  .portrait {
    width: 150px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .portrait {
    width: 100px;
    height: auto;
  }
}